.d-row{
  margin: 30px 0;
  border-left: 1px solid $border;
  border-top: 1px solid $border;
  font-size: 15px;
  &.primary{
    border-top: none;
    border-left: none;
    .el-row {
      &:nth-child(odd) {
        .el-col-20{
          background: $light-bg-color;
        }
      }
      .el-col{
        border-right: none;
        border-bottom: 1px solid #fff;
        &.el-col-4{
          color: #fff;
          background: $primary-color;
        }
      }
    }
  }
  .el-row {
    min-height: 40px;
    line-height: 25px;
    display: flex;
    .el-col{
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      padding: 5px 0;
      &.el-col-4{
        background: $light-bg-color;
        color: $--color-primary;
        padding: 7px 10px 7px 20px;
        min-width: 100px;
      }
      &.el-col-20,&.content,&.el-col-8{
        background: #fff;
        color: #848890;
        padding: 7px 20px;
      }
    }
  }
}


/*  -------------------------------  Title   ---------------------------------  */
.j-title{
  .j-title-header{
    line-height: 40px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-flow: row;
  }
  .title{
    font-size: 16px;
    padding: 0;
    position: relative;
    font-weight: bold;
    &:after{
      content: '';
      height: 1px;
      position: absolute;
      bottom: -1px;
      background: $--color-primary;
      left: 0;
      width: 100%;
      z-index: 99;
    }
  }
  .enTitle{
    color: #c7cad2;
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    &:hover{
      color: #c7cad2 !important;
    }
  }
  .content{
    color: #848890;
    padding: 20px 0;
    font-size: 15px;
  }
}

/*       footer           */
footer {
  padding: 2.8125rem 0;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(33,33,33,0.6);

  a {
    color: rgba(33,33,33,0.6);
    border-bottom: 0;

    &:hover,
    &:focus {
      color: $--color-primary;
      border-bottom: 0;
    }
  }
}


/*  -------------------------------  title search   ---------------------------------  */
.j-title-search{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  h2{
    font-size: 16px;
  }
  .input-with-select{
    width: 190px;
    .el-input-group__append{
      color: #8b8e90;
      background: #fff;
      &:hover{
        transition: 0.2s;
        background: $--color-primary;
        border-color: $--color-primary;
      }
      .el-button{
        &:hover{
          color: #fff;
        }
      }
    }
    .el-input__inner::-webkit-input-placeholder {
      color: #8b8e90;
    }
  }
}


/*  -------------------------------  分页  ---------------------------------  */

.j-pagination{
  position: relative;
  color: #8c989d;
  font-size: 13px;
  line-height: 28px;
  padding: 30px 0 45px 0;
  .total{
    position: absolute;
    span{
      padding: 0 3px;
    }
  }
  .el-pagination{
    text-align: center;
    font-weight: normal;
    .el-pager {
      li{
        color: #8c989d;
        border-radius: 3px;
        border:1px solid #ddd;
        line-height: 26px;
        height: 26px;
        font-size: 13px;
        min-width: 26px;
        padding: 0 4px;
        margin: 0 3px;
        &.active+li{
          border:1px solid #ddd;
        }
        &.active{
          border:1px solid $--color-primary;
          color: $--color-primary;
        }
      }
      .more::before {
        line-height: 26px;
      }
    }
    .btn-next,.btn-prev,.el-input .el-input__inner{
      color: #8c989d;
      border-radius: 2px;
      border:1px solid #ddd;
      line-height: 26px;
      height: 26px;
      margin: 0 6px;
      min-width: 26px;
      padding: 0 2px;
    }
    .el-pagination__jump{
      color: #8c989d;
      font-size: 13px;
      line-height: 26px;
      .el-input{
        margin-right: 10px;
        font-size: 13px;
      }
    }
  }
  @media (max-width: $md) {
    .total{
      position: relative;
    }
  }
}
